@font-face {
    font-family: CyberpunkWaifus;
    src: url(Fonts/CyberpunkWaifus.ttf);
}

:root {
    --bg-img: url(Images/blackbg.png);
    --light-text-color: white;
    --dark-text-color: black;
    --strong-text-color: #242424;
    --main-font: CyberpunkWaifus;
    --input-color: #4D0A31FF;
    --input-focused-color: lightblue;
    --hover-color: #4D0A31FF;
}

.article p {
    color: var(--dark-text-color);
    text-align: justify;
}

.bottom-center {
    position: absolute;
    scale: 200%;
    bottom: 5%;
    left: 2%;
}

.bright-text {
    color: var(--light-text-color);
}

.center, .center img, .center form {
    display: block;
    margin: auto;
    width: 50%;
}

.center ul, .center li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

*.center > * {
    text-align: center;
}
  
.error-message {
    color:#882222;
}

.dropdown-items {
    display: none;
}

.dropdown {
    z-index: 1;
    list-style-type: none;
}
  
.dropdown:hover .dropdown-items{
    display: block;
    position: absolute;
    width: 250px;
    top: 21px;
    left: -21px;
}

.header {
    /* overflow: hidden; */
    position: sticky;
    top: 0%;
    left: 50%;
    /* background-color: #000000; */
    background-image: var(--bg-img);
    /* border-bottom: 1px solid rgba(85, 85, 85, 0.438); */
    padding: 20px 0px;
    width: 69%;
}

.header li a {
    color: white;
    padding: 21px 69px;
    text-decoration: none;
}
  
.header li a:hover {
    background-color: var(--hover-color);
}

/* .header-tabs { */
    /* display: flex; */
    /* flex-direction: row;     make main axis horizontal (default setting) */
    /* justify-content: center; center items horizontally, in this case */
    /* align-items: center;     center items vertically, in this case */
    /* height: 300px;
}

.header-tabs > li {
    flex: 1;
} */

.pfp-preview {
    width: 50px;
    border: 3px solid rgb(255, 255, 255);
}

.pixel-text {
    font-family: var(--main-font);
}

.submit-button {
    width: 100%;
}

.top-right {
    position: fixed;
    top: 15px;
    right: 15px;
}

.top-left {
    position: fixed;
    top: 88px;
    left: 16px;
    font-size: 18px;
}

a.top-left, p.top-left {
    position: fixed;
    top: 105px;
    left: 90px;
}

li.top-left {
    position: fixed;
    top: 90px;
    left: 105px;
}

body {
    background-color: #000000;
    background-image: var(--bg-img);
    background-attachment: fixed;
    color: #000000;
}
    
form {
    background-color:#F0D3CEFF;
    /* After 7 digits the browser sets the height equal to it's containing content, somehow works perfectly so I'm not changing it xd */
    height: 9999999%;
    padding: 21px;	
    width: 50px;
}

input, select, button {
    background-color: var(--input-color);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1px;
    color: var(--light-text-color);
    font-family: var(--main-font);
    width: 69%;
}

input:focus {
    background-color: var(--input-focused-color);
    color: #000000;
    border: 3px solid #555;
}

/* Removes number/slider from input of number type */

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
        appearance: none;
        -moz-appearance: textfield;
    }

/*                                                */

label { 
    float: left; 
    width: 31%;
} 

legend {
    text-transform: uppercase; 
}

strong {
    color: var(--strong-text-color)
}

#newsletter {
    width: 80%;
}

#newsletter_checkbox {
    width: 10%;
}

/* a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
} */
